html {
    font-family:'Helvetica';
    background-color: lightblue;
}

h1 {
    font-family: 'Helvetica';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    font-weight: 700;
    color: #012d58;
    margin: 20px 0 20px 0;
    font-size: 46px;
}

h3 {
    color: #003f65;
    margin: 0 0 15px 0;
    font-size:24px;
}

a {
    background-color: #f32c2cf2;
    color: #003f65;
    padding: 10px;
    border: 3px solid #003f65;
    font-size: 21px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.centrado a {
    width: 50%;
    display: block;
    margin: 12px auto;
}

.centrado {
    text-align: center;
}

#foto {
    margin-top: 20px;
    border-radius: 50%;
    width: 350px; 
    height: 350px;
    object-fit: cover;
    border: 3px solid #012d58;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sep {
    font-size: 26px;
}
